* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
}

.calculator {
  width: 400px;
  height: 600px;
  background-color: rgb(19, 13, 57);
  display: grid;
  grid-template-columns: repeat(4,80px);
  grid-template-rows: 150px repeat(6,80px);
  justify-content: center;
  border-radius: 20px;
  padding-top: 25px;
}

.calculator button {
  font-size: 1.5rem;
  background-color: azure;
  border-radius: 40px;
  border: 2px rgb(13, 3, 53) solid;
  margin: 3px;
}

.calculator .clear-btn {
  background-color: rgb(110, 110, 224);
}

.calculator .clear-btn:hover {
  background-color: rgb(55, 55, 154);
}

.calculator button:hover {
  background-color: rgb(93, 92, 132);
}

.calculator .delete-btn {
  background-color: rgb(197, 98, 98);
}

.calculator .delete-btn:hover {
  background-color: rgb(139, 47, 47);
}

.calculator .equal-btn {
  background-color: rgb(89, 199, 155);
}

.calculator .equal-btn:hover {
  background-color: rgb(33, 124, 85);
}

.display {
  height: 120px;
  background-color: white;
  opacity: 0.7;
  grid-column: 1/-1;
  border: 2px rgb(8, 60, 122) solid;
  text-align: end;
  padding: 10px 0;
  overflow: hidden;
}

.span2 {
  grid-column: span 2;
}

.previous-operand {
  color: black;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.current-operand {
  color: black;
  font-size: 2rem;
  margin-top: 20px;
}

